body {
    font-family: Montserrat, sans-serif;
    color: #111;
    background: #FAFAFA;
}

.list {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
}
.orange-color{
    color: #FD9222;
}

/*=================================HEADER===================================*/
.container{
    max-width: 367px;
    padding: 0 16px;
    margin: auto;
}
.menu{
    display: none;
}
.social-list{
    display: none;
}
.logo-link{
    color: currentColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
}
.icon-logo{
    stroke: #FD9222;
    fill: #FCF1E0;
    margin-left: 4px;
}

.button-burger{
    background-color: transparent;
    border: none;
    stroke: #111;
    line-height: 0;
    padding: 0;
    margin-left: auto;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header{
    padding-top: 20px;
    padding-bottom: 14px;
}


@media screen and (min-width: 320px){
    .wrapper-menu-mob{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    transform: translateX(100%);
    transition: transform 250ms linear;
    }
    .container-mobile-menu{
    background-color: #1E1823; 
    }
.bth-close-menu-mob{
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}
.container-mobile-menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    padding: 136px 48px 0px 48px;
}
.list-menu-mob{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
}
.link-item-menu-mob{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}
.social-link-menu-mob{
    fill: none;
    stroke: white;
}
.social-link-list-menu-mob{
    display: flex;
    gap: 18px;
    margin-top: auto;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
    .wrapper-menu-mob.is-open {
    transform: translateX(0%);
}
}


@media screen and (min-width: 768px){
    .container{
        max-width: 736px;
    }
    .button-burger{
        display: none;
    }
    .page-header{
        padding: 0;
    }
    .page-nav{
        display: flex;
        align-items: center;
    }
    .menu{
        display: flex;
        gap: 24px;
        align-items: baseline;
    }
    .wrapper-menu-mob{
        display: none;
    }
    .menu-link{
        color: currentColor;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
        display: block;
        padding: 28px 0px 36px 0px;
        transition: color 250ms linear;
    }
    .logo-link{
        margin-right: 101px; 
    }
    .social-list{
        display: flex;
        column-gap: 18px;
        margin-left: auto;
    }
    .social-link {
            fill: none;
            stroke: #111;
            display: block;
            line-height: 0;
            transition: stroke 250ms linear;
        }
}
@media screen and (min-width: 1168px){
    .container {
        max-width: 1168px;
        }
        .page-nav{
            width: 980px;
            justify-content: space-between;

        }
   .logo-link{
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
   }
   .icon-logo{
    width: 24px;
    height: 24px;
   }
    .menu-link{
    padding-top: 32px;
    padding-bottom: 32px;
    }
   .social-link:hover,
   .social-link:focus {
    stroke: #FD9222;
}
   .menu-link:hover,
   .menu-link:focus {
    color: #FD9222;
   }
}

/*==========================================HERO======================================*/
.section-hero{
    width: 335px;
    margin: auto;
    padding: 499px 16px 21px 20px;
    background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
    rgba(17, 17, 17, 0.40) 100%),
    url(../images/section_hero/title_img_mob1x.jpg);
    border-radius: 30px;
    background-color: rgba(17, 17, 17, 0.40);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(../images/section_hero/title_img_mob2x.jpg);
    }
}

@media (min-width: 768px) {
    .section-hero {
        background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(../images/section_hero/title_img_tab1x.jpg);
    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-hero {
            background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                    rgba(17, 17, 17, 0.40) 100%),
                url(../images/section_hero/title_img_tab2x.jpg);
        }
    }
}

@media (min-width: 1168px) {
    .section-hero {
        background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(../images/section_hero/title_img_desk1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-hero {
            background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                    rgba(17, 17, 17, 0.40) 100%),
                url(../images/section_hero/title_img_desk2x.jpg);
        }
    }
}
.hero-title{
color: #FFF;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: -0.03em;
width: 291px;
margin-bottom: 32px;
}
.button-buy{
    border: none;
    border-radius: 100px;
    background-color: #FD9222;
    color: #FFF;
    padding: 12px 28px;
    font-size: 14px;
    font-weight: 600;
    min-width: 120px;
    transition: background-color 250ms linear, color 250ms linear;
}
.button-buy:hover,
.button-buy:focus {
    background-color: #FCF1E0;
    color: #FD9222;
}
.how-made-link{
    min-width: 159px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border-radius: 100px;
        border: 1px solid #FFF;
        padding: 12px 28px;
        transition: border 250ms linear, color 250ms linear;
}
.how-made-link:hover,
.how-made-link:focus {
    border-color: #FD9222;
    color: #FD9222;
}
.scroll-down-link {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.03em;
    display: inline-flex;
    align-items: center;
    transition: color 250ms linear;
    gap: 12px;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
    color: #FD9222;
}

.icon-scroll-down {
    fill: #FD9222;
    background-color: #fff;
    border-radius: 50px;
    box-sizing: content-box;
    padding: 6px;
    transition: fill 250ms linear, background-color 250ms linear;
}

.scroll-down-link:hover .icon-scroll-down {
    fill: #fff;
    background-color: #FD9222;
}
.hero-btn-block{
   display: flex;
   gap: 14px;
   margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
      .section-hero{
        width: 704px;
        padding: 671px 40px 40px 40px;
      }
    .hero-title{
        font-size: 28px;
        line-height: 1.28;
        width: 484px;
    }
    .hero-btn-wrapper{
        display: flex;
        align-items: center;
    }
    .hero-btn-block{
        margin-bottom: 0;
        margin-right: auto;
    }
    .button-buy{
        padding: 14px 40px;
        min-width: 144px;
    }
    .how-made-link {
         min-width: 183px;
        padding: 14px 40px;
        }
    .scroll-down-link {
        font-size: 14px;
        line-height: 1.28;
        gap: 14px;
        }
    .icon-scroll-down {
        width: 22px;
        height: 22px;
        padding: 8px; 
}
}
@media screen and (min-width: 1168px){
      .section-hero{
        width: 1136px;
        padding: 381px 40px 40px;
      }
}

/*========================================BENEFITS================================*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-benefits{
    background-color: #1E1823;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.list-benefits{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.benefit-item{
   max-width: 336px; 
   padding-right: 28px;
}
.icon {
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
}

.icon-benefits {
    fill: #FD9222;
}
.benefit {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.benefit-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

@media screen and (min-width: 768px){
    .section-benefits {
        margin-top: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        }
    .section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .list-benefits{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }
    .benefit-item{
        width: calc((100% - 32px) / 2);
    }
}
@media screen and (min-width: 1168px){
    .list-benefits{
        gap: 88px;
    }
    .benefit-item {
        width: calc((100% - 176px) / 3);
        padding-right: 0;
    }
    .section-benefits{
        margin-top: 72px;
        margin-bottom: 50px;
    }
    .section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .list-benefits .current-benefits::after {
        content: "";
        width: 1px;
        height: 124px;
        display: block;
        color: #FFF;
        background: rgba(255, 255, 255, 0.50);
        position: absolute;
        right: -18px;
        top: 70px;
        }
    .current-benefits {
        position: relative;
        }
    .benefits-wrapper{
        width: 1100px;
        margin: auto;
    }
}

/*========================================TASTES======================================*/

.tastes-title{
text-align: center;
font-size: 20px;
font-weight: 600;
line-height: 1.2;
letter-spacing: -0.03em;
text-transform: uppercase;
max-width: 283px;
margin-right: auto;
margin-left: auto;
margin-bottom: 24px;
}

.tastes-text{
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.02em;
margin-right: auto;
margin-left: auto;
margin-bottom: 32px;
}
.list-tastes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-taste-card {
    border-radius: 15px;
    padding: 28px 56px;
    border: 1px solid #fd9222;
    position: relative;
    width: 335px;
    overflow: hidden;
}

.item-taste-card:nth-child(4n+1) {
    background-color: #FD9222;
    color: #FFF;
}

.item-taste-card:nth-child(even) {

    background-color: #FFF;
}

.item-taste-card:nth-child(4n+3) {
    background-color: #1E1823;
    color: #fff;
    border-color: #1e1823;
}
.item-taste-card:hover .overlay {
    transform: translateY(0);
}

.title-overlay {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #111;
}

.overlay {
    border-radius: 15px;
    background: #FFF;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
}


.link-overlay-taste {
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 35px;
    background: #FD9222;
    padding: 6px 16px;
    align-items: center;
    min-width: 81px;
}

.link-overlay-benefits {
    color: #111;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    padding: 6px 16px;
    border-radius: 35px;
    border: 1px solid #FD9222;
    background-color: #FAFAFA;
    min-width: 93px;

}

.list-block-overlay {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
}

.text-overlay {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
    width: 230px;
    height: 162px;
    overflow: auto;
}
.taste-card-title{
font-size: 14px;
font-weight: 600;
line-height: 1.28;
letter-spacing: -0.02em;
text-transform: uppercase;
margin-top: 25px;
}

@media screen and (min-width: 768px){
    .tastes-title{
        font-size: 24px;
        line-height: 1.16;
        max-width: 411px;
        margin-bottom: 28px;
    }
   .tastes-text {
       margin-bottom: 50px;
       max-width: 486px;
   }
   .list-tastes {
       flex-wrap: wrap;
       gap: 32px;
       flex-direction: row;
   }
   .item-taste-card {
       width: calc((100% - 32px) / 2);
   }
}
@media screen and (min-width: 1168px){
    .list-tastes{
        gap: 19px;
        flex-wrap: nowrap;
    }
    .item-taste-card {
        width: calc((100% - 57px) / 4);
        padding: 28px 36px 28px 28px;
    }
    .taste-card-title{
        margin-top: 36px;
    }
}

/*===========================HOW-ITS-MADE======================*/

.how-made-title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.recipe-img{
   
}
.recipe-step{
    padding-left: 16px;
    position: relative;
}
.icon-elipse{
    position: absolute;
    top: 5px;
    left: -1px;
}

.how-made-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.how-made-list-title{
font-size: 18px;
font-weight: 600;
line-height: 1.33;
}
.how-made-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 14px;
    background-color: #fff;
    border-radius: 15px;
}
.how-made-list-item{
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.02em;
width: 291px;
}
.how-made-list{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
@media screen and (min-width: 768px){
    .how-made-title {
        font-size: 24px;
        line-height: 1.16;
        margin-bottom: 50px;
        
    }
    .how-made-text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 28px;
            padding: 32px;
            
    }
    .how-made-list-item {
        width: 464px;
    }
    .how-made-list-title{
        width: 350px;
    }
}
@media screen and (min-width: 1168px){
    .how-made-content-wrapper{
        flex-direction: row;
        column-gap: 20px;
    }
    .how-made-text-wrapper{
        padding: 32px;
    }
    .how-made-list{
        gap: 24px;
    }
}
/*=======================================REVIEWS============================*/
.review-title{
    color: #111;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.button-leave-review{
    color: #111;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    border: 1px solid #FD9222;
    background-color: #fff;
    padding: 12px 28px;
    display: block;
    margin: auto;
    min-width: 165px;
    transition: background-color 250ms linear, color 250ms linear;
}
.button-leave-review:hover,
.button-leave-review:focus {
    background-color: #FD9222;
    color: #FFF;
}
.scroll-block-reviews{
    display: flex;
    gap: 13px;
    justify-content: center;
    margin-bottom: 32px;
}
.icon-scrool-reviews{
    fill: #fd9222;
}
.icon-scroll-elipse-reviews{
    fill: rgba(17, 17, 17, 0.10);
}










@media screen and (min-width: 1168px){

}


























/*=============================FOOTER===============================*/

.nav-link-footer-mob{
    margin-bottom: 18px;
    display: block;
}
.footer-text{
color: #FFF;
font-size: 24px;
font-weight: 500;
line-height: 1.16;
letter-spacing: -0.02em;
max-width: 300px;
}
.section-footer{
background-color: #1E1823;
padding: 32px 0;
margin-top: 30px;
}
.contacts-title{
    color: #FFF;
font-size: 14px;
font-weight: 500;
line-height: 1.28;
margin-bottom: 14px;
}
.contacts-list-footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
.contact-link{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.02em;
transition: color 250ms linear;
}
.contact-link:hover,
.contact-link:focus {
    color: #FD9222;
}

.nav-link-footer{
    color: #FFF;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
transition: color 250ms linear;
}
.nav-link-footer:hover,
.nav-link-footer:focus {
    color: #FD9222;
}
.button-subscribe-footer {
    border-radius: 100px;
    background: #FD9222;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 45px;
    border: none;
    transition: background-color 250ms linear, border 250ms linear, color 250ms linear;
}

.button-subscribe-footer:hover,
.button-subscribe-footer:focus {
    background-color: #fff;
    border: 1px solid #FD9222;
    color: #FD9222;
}
.input-form-footer {
    width: 207px;
    height: 45px;
    padding: 14px 18px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background: #1E1823;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
}
.footer-top-block{
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-bottom: 64px;
}
.list-nav-footer{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 32px;
}
.surscribe-form-footer {
    display: flex;
    gap: 8px;
}
.container-footer .current-footer::after {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.10);
    display: block;
    position: absolute;
    left: 0;
    bottom: -32px;
}
.current-footer {
    position: relative;
}

@media screen and (min-width: 768px){
    .positions-menu-footer-mob {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    
        }
    .footer-text {
        color: #FFF;
         font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        }
    .input-form-footer {
        width: 233px;
        padding: 14px 24px;
        }
    .button-subscribe-footer {
        min-width: 128px;
        }
    .section-footer {
        padding: 50px 0;
        margin-top: 40px;
        }
    .footer-top-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-bottom: 78px;
        }
    
    .list-nav-footer{
       flex-direction: row;
       gap: 16px;
    }
    .container-footer .current-footer::after {
            bottom: -54px;
        }
    .footer-bottom-block{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .list-nav-footer{
        margin: 0;
    }
}
@media screen and (min-width: 1168px){
    .input-form-footer{
        width: 313px;
        height: 52px;
        font-size: 18px;
    }
    .button-subscribe-footer {
            min-width: 137px;
            height: 52px;
        }
}

/*=========================MODAL WINDOW========================*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.form-content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    background-color: #FAFAFA;
    border-radius: 15px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px 24px;
}
.btn-close-form-review {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    stroke: #111;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 250ms linear;
}
.btn-close-form-review:hover,
.btn-close-form-review:focus {
    stroke: #FD9222;
}
.form-review-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 255px;
    margin-bottom: 32px;
}
.input-form-review {
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    width: 100%;
    height: 45px;
    outline: 0px solid transparent;
    background-color: transparent;
    transition: border 250ms linear;
    padding-left: 43px;
}
.input-form-review:hover,
.input-form-review:focus {
    border: 1px solid #FD9222;
}
.input-form-review-box {
    position: relative;
}
.label-form-review {
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-bottom: 4px;
    display: block;
}
.icon-input-form {
    stroke: #404040;
    fill: none;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    transition: stroke 250ms linear;
}
.input-form-review:hover+.icon-input-form {
    stroke: #FD9222;
}
.label-input-box{
margin-bottom: 14px;
}
.textarea-field {
    width: 100%;
    resize: none;
    height: 91px;
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    padding: 14px 18px;
    outline: 0px solid transparent;
    background-color: transparent;
    transition: border-color 250ms linear;
}
.textarea-field::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
}
.textarea-field:hover,
.textarea-field:focus {
    border-color: #FD9222;
}
.form-div-checkbox {
    margin-bottom: 32px;
}
.form-span-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 12px;
    transition: background-color 250ms linear, border 250ms linear, fill 250ms linear;
}
.input-form-checkbox:checked+.form-label-checkbox>span {
    background-color: #fd9222;
    fill: #fff;
    border: none;
}
.form-label-checkbox {
    color: rgba(64, 64, 64, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.02em;
}
.link-user-privacy {
    text-decoration: underline;
}
.button-form-review {
    border-radius: 100px;
    background-color: #FD9222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border: none;
    height: 41px;
    min-width: 93px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 250ms linear, color 250ms linear, border 250ms linear;
}
.button-form-review:hover,
.button-form-review:focus {
    background-color: #fff;
    border: 1px solid #FD9222;
    color: #FD9222;
}
 
@media screen and (min-width: 768px){
    .form-content-box {
        width: 517px;
        padding: 40px;
    }
    .btn-close-form-review {
            top: 24px;
            right: 24px;
    }
    .icon-x-close{
        width: 28px;
        height: 28px;
    }
    .form-review-title {
        font-size: 24px;
        line-height: 1.16;
        max-width: 298px;
        margin-bottom: 40px;
    }
    .input-form-review {
        width: 100%;
        height: 68px;
        padding-left: 62px;
    }
    .icon-input-form{
        width: 24px;
        height: 24px;
    }
    .label-form-review {
        margin-bottom: 8px;
    }
    .icon-input-form {
        left: 24px;
    }
    .label-input-box {
        margin-bottom: 18px;
    }
    .textarea-field {
        height: 137px;
        padding: 22px 24px;
    }
    .textarea-field::placeholder {
        font-size: 18px;
    }
    .form-label-checkbox {
        font-size: 14px;
        line-height: normal;
    }
    .form-div-checkbox {
        margin-bottom: 40px;
    }
    .button-form-review {
        height: 45px;
        min-width: 117px;
    }
}
